<div class="row">
  <!-- Payload from register api from backend App -->
  <div class="col-md-6 offset-md-3">
    <div class="signup-form">
      <form
        (ngSubmit)="updatePassword()"
        class="mt-5 border p-4 bg-light shadow needs-validation"
        novalidate
      >
        <div class="mb-3 col-md-10">
          <input
            type="text"
            name="username"
            class="form-control"
            placeholder="Enter User Name"
            required
          />
        </div>

        <div class="mb-3 col-md-10">
          <input
            type="password"
            name="password"
            class="form-control"
            placeholder="Enter New Password"
            required
          />
        </div>

        <div class="mb-3 col-md-10">
          <input
            type="password"
            name="confirmpassword"
            class="form-control"
            placeholder="Confirm Password"
            required
          />
        </div>

        <div class="col-md-12">
          <button class="btn btn-primary float-center">Update</button>
        </div>
        <p class="text-center mt-3 text-secondary">
          Already have a Customer account, Please
          <a href="/customer/authenticate">Login Here</a>
        </p>
      </form>
    </div>
  </div>
</div>
