<div>
  <form
    (ngSubmit)="updatePassword()"
    class="mt-5 border p-4 bg-light shadow needs-validation"
    novalidate
  >
    <div class="row">
      <div class="mb-3 col-md-7">
        <input
          type="text"
          name="username"
          class="form-control"
          placeholder="Enter User Name"
          required
        />
      </div>
      <div class="mb-3 col-md-7">
        <select class="form-select" aria-label="secret question">
          <option value="Favorite color?">Favorite color?</option>
          <option value="Name of pet?">Name of pet?</option>
          <option value="Childhood hero?">Childhood hero?</option>
        </select>
      </div>
    </div>

    <div class="mb-3 col-md-7">
      <input
        type="text"
        name="secretAnswer"
        class="form-control"
        placeholder="Enter Answer"
        required
      />
    </div>

    <div class="col-md-12">
      <button class="btn btn-primary float-conter">Get Details</button>
    </div>
  </form>
</div>
