<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="customer/dashboard"
    >Profile</a
  >

  <div class="navbar-nav">
    <h4 style="color: white">Welcome username</h4>
  </div>

  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
      <a class="nav-link px-3" href="customer/authenticate">Log out</a>
    </div>
  </div>
</header>

<div class="container-fluid">
  <div class="row">
    <nav
      id="sidebarMenu"
      class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
    >
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="customer/create-account"
            >
              <span data-feather="home"></span>
              Create Account
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="customer/add-beneficiary">
              <span data-feather="file"></span>
              Add Beneficiary
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="customer/remove-beneficiary">
              <span data-feather="shopping-cart"></span>
              Remove Beneficiary
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="customer/transfer-amount">
              <span data-feather="users"></span>
              Transfer Money
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="customer/view-statement">
              <span data-feather="bar-chart-2"></span>
              View Statement
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
      >
        <h1 class="h2">Transfer Money</h1>
        <div class="btn-toolbar mb-2 mb-md-0"></div>
      </div>

      <div>Select Source Accounts</div>
      <table class="table table-striped table-dark">
        <thead>
          <tr>
            <td>Account Number</td>
            <td>Balance</td>
            <td>Account Type</td>
            <td>Select</td>
          </tr>
        </thead>
        <tbody>
          <!-- <tr *ngFor="let account of accountList"> -->
          <tr>
            <!-- <td>{{ account.accountNumber }}</td>
            <td>{{ account.accountBalance }}</td>
            <td>{{ account.accountType }}</td> -->
            <td>1234</td>
            <td>100000.00</td>
            <td>Personal</td>
            <td class="round">
              <input type="checkbox" />
            </td>
          </tr>
        </tbody>
      </table>

      <!-- <div>Select to Accounts</div>
      <select name="accounts">
        <option value=''>{{account.accountNumber}}</option>
        <option value="1234">1234</option>
        <option value="4567">4567</option>
      </select>
      <input
        type="accountNumber"
        name="accountNumber"
        class="form-control"
        placeholder="Enter Account Number"
      /> -->

      <div class="row g-2">
        <div class="col-md">
          <div class="form-floating">
            <select
              class="form-select"
              id="floatingSelectGrid"
              aria-label="Floating label select example"
            >
              <option selected>Select to Accounts</option>
              <!-- <option value=''>{{account.accountNumber}}</option> -->
              <option value="1234">1234</option>
              <option value="4567">4567</option>
            </select>
            <label for="floatingSelectGrid">Works with selects</label>
          </div>
        </div>
        <div class="col-md">
          <div class="form-floating">
            <input
              type="number"
              class="form-control"
              id="floatingInputGrid"
              value="Enter Amount"
            />
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="floatingInputGrid"
            value="Reason"
          />
        </div>
      </div>

      <button class="btn btn-primary float-end">Transfer</button>
      <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
    </main>
  </div>
</div>
